<div class="container mt-5">
  <div class="row mr-5">

    <div class="col-3">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>


      <div class="col-md-8">
        <div class="text-center mt-5">
         <h1><span style="background-color: #FAF0E6;">ようこそ、ながのCAKEへ！</h1></span>
          <%= image_tag 'toppagecake.png', alt: 'ながのケーキ', class: 'img-fluid'%>
         <div class="cakelogo">
          <h4 class="cake-sentence">
            このサイトはケーキ販売の<br>
            ECサイトになります。<br>
            会員でない方も商品の<br>
            閲覧はできますが、<br>
            購入には会員登録が<br>
            必要になります。
          </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="container mt-5">
  <h2 class="text-center">🎉新着商品🎉</h2>
  <div class="row">
    <%= render 'public/items/index', items: @items %>
  </div>
</div>

<div class="container mt-5">
  <div class="text-right">
    <%= link_to '全ての商品を見る', items_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>